# Ignore virtual environment
.platvenv/*
.env

# Ignore training data
train_data/*
annotated_images/images/*
annotated_images/actions/*
annotated_images/labels/*

# Ignore RoboFlow Data
pokemon_platinum_ai-9/*
pokemon_platinum_ai-10/*
route_203_images/*

# Ignore training runs
runs/*

# Ignore v9-models
v9-models/*
yolov9s.pt

# Ignore the initial model (size constraint)
models/pokemon_model_lstm.pth