appnope==0.1.4
asttokens==2.4.1
certifi==2024.6.2
chardet==4.0.0
charset-normalizer==3.3.2
comm==0.2.2
contourpy==1.2.1
cv==1.0.0
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
filelock==3.14.0
fonttools==4.53.0
fsspec==2024.6.0
idna==3.7
ipykernel==6.29.4
ipython==8.25.0
jedi==0.19.1
Jinja2==3.1.4
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
MouseInfo==0.1.3
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
opencv-python==4.10.0.82
opencv-python-headless==4.10.0.84
packaging==24.0
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.2
prompt_toolkit==3.0.46
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
Pygments==2.18.0
PyMsgBox==1.0.9
pyobjc-core==10.3
pyobjc-framework-Cocoa==10.3
pyobjc-framework-Quartz==10.3
pyparsing==3.1.2
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic==0.4.27
pytweening==1.2.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
requests==2.32.3
requests-toolbelt==1.0.0
roboflow==1.1.33
rubicon-objc==0.4.9
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
stack-data==0.6.3
sympy==1.12.1
torch==2.3.1
torchvision==0.18.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.1
tzdata==2024.1
ultralytics==8.2.39
ultralytics-thop==2.0.0
urllib3==2.2.2
wcwidth==0.2.13
